@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-top: 105;
  padding-left: 80px;
  font-family: "Open Sans", sans-serif;
}

#headline {
  color: #e1624f;
  size: 16px;
  font-weight: bold;
}

#paragraph {
  size: 16px;
  font-style: Regular;
}

#subtitle {
  size: 16px;
  font-style: italic;
}

h1 {
  size: 36px;
  font-weight: bold;
}

h2 {
  size: 32px;
  font-weight: bold;
}

h3 {
  size: 28px;
  font-weight: bold;
}

img {
  border-radius: 28px;
}

#ib {
  width: 1120px;
  height: 660;
}

#im {
  width: 1120px;
  height: 350;
}
